@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  background-color: #1f1b24;
  @apply text-white;
}

.blue-gradient {
  background-image: linear-gradient(
    235deg,
    hsl(245deg 58% 51%) 0%,
    hsl(244deg 56% 49%) 19%,
    hsl(244deg 55% 48%) 27%,
    hsl(244deg 54% 46%) 33%,
    hsl(244deg 53% 45%) 39%,
    hsl(243deg 52% 43%) 44%,
    hsl(243deg 51% 42%) 51%,
    hsl(243deg 51% 40%) 57%,
    hsl(243deg 50% 39%) 65%,
    hsl(243deg 49% 37%) 73%,
    hsl(242deg 48% 36%) 84%,
    hsl(242deg 47% 34%) 100%
  );
}

.btn {
  @apply py-2 px-8 rounded-full text-white;
}
.btn-blue {
  @apply bg-indigo-500 text-white;
}
.btn-blue:hover {
  @apply bg-indigo-600;
}

.login-hello-wrapper {
  position: absolute;
  top: -64px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.vote-button {
  padding: 8px;
  border-radius: 16px;
  filter: drop-shadow(0 2px 4px #00000065);
  transition: transform 400ms ease-in-out, border-color 200ms ease-in-out,
    filter 200ms ease-in-out;

  @apply border-4
  /*@apply border-2 m-1 w-12 h-12 relative flex justify-center items-center rounded-full bg-gray-400 hover:bg-slate-500;*/;
}

.vote-button-wrapper:hover .vote-button {
  transition: transform 100ms ease-in-out;
  filter: drop-shadow(0 4px 4px #00000085);

  transform: translateY(-4px);
}

.vote-button-wrapper:active .vote-button {
  transition: transform 100ms ease-in-out;

  transform: translateY(2px);
}

.vote-button > svg {
  @apply w-12 h-12 object-contain;
}

html,
body,
app-route {
  height: 100%;
  display: block;
}
