<div
  *ngIf="gameService.state === 'playing'"
  class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0"
>
  <div
    class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl blue-gradient mx-6 lg:mx-0 relative"
  >
    <div class="p-4 md:p-12 text-center lg:text-left">
      <div
        class="absolute right-0 left-0 flex justify-center"
        style="top: -30px"
      >
        <app-timer [time]="timerService.remainingTime"></app-timer>
      </div>

      <h1 class="text-2xl font-bold pt-8 lg:pt-0 text-white">
        Do you see a cat ?
        <fa-icon [icon]="faPaw" class="ml-2 text-xl text-indigo-200"></fa-icon>
      </h1>
      <div
        class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-indigo-500 opacity-25"
      ></div>
      <p
        class="pt-2 text-gray-400 text-xs lg:text-sm flex items-center justify-center lg:justify-start"
      >
        Just select whether or not you see a cat in the picture, using the
        appropriate cats above.
      </p>
      <p
        class="pt-4 text-white text-base font-bold flex items-center justify-center lg:justify-start"
      >
        Your score :
        <span class="pl-2 font-normal text-white">{{ score }}</span>
      </p>

      <!--Cat buttons-->
      <div class="pt-8 flex items-center justify-center">
        <button
          class="m-1 w-12 h-12 relative flex justify-center items-center rounded-full bg-gray-400 hover:bg-slate-500"
          (click)="gameService.checkCurrentImage(true)"
        >
          <img src="assets/icons/isCat.png" alt="cat" class="rounded-lg" />
        </button>
        <button
          class="ml-6 w-12 h-12 relative flex justify-center items-center rounded-full bg-gray-400 hover:bg-slate-500"
          (click)="gameService.checkCurrentImage(false)"
        >
          <img
            src="assets/icons/isNotCat.png"
            alt="no-cat"
            class="rounded-lg"
          />
        </button>
      </div>
    </div>
  </div>

  <!--Image-->
  <div class="w-full lg:w-2/5">
    <img
      [src]="gameService.currentImage?.url"
      class="rounded-none lg:rounded-lg shadow-2xl block"
    />
  </div>
</div>

<app-card
  *ngIf="gameService.state === 'waiting'"
  title="Are you ready?"
  icon="https://img.icons8.com/ultraviolet/40/000000/cat-footprint.png"
  buttonText="Start game"
  description="You will have 15 seconds per picture to tell if there is a cat or not."
  (start)="gameService.startGame()"
></app-card>
<app-card
  *ngIf="gameService.state === 'finished'"
  title="Its the end here !"
  description="Your score was : "
  [score]="score"
  icon="https://img.icons8.com/dotty/300/000000/f--k-this-thing.png"
  buttonText="Play again"
  (start)="gameService.startGame()"
></app-card>
