<header>
  <nav *ngIf="nav.visible" class="container flex flex-wrap justify-between max-w-full">
    <div class="flex items-start">
      <a class="text-2xl font-medium text-white" [routerLink]="['/home']">FindTheCatto</a>
      </div>
      <div class="flex items-end justify-end space-x-4"
        [ngClass]="{ show: isExpanded }"
      >
      <span class="text-white">{{authService.user?.username}}</span>
            <a [routerLink]="['/home']">Home</a>
            <a *ngIf="!authService.isAuthenticated" [routerLink]="['/login']">Login</a>
            <a *ngIf="authService.isAuthenticated" [routerLink]="['/game']"
            >Game</a
            >
            <a *ngIf="authService.isAuthenticated" [routerLink]="['/leaderboard']"
            >Leaderboard</a
            >
            <a *ngIf="authService.isAuthenticated" [routerLink]="['/account']"
            >Account</a
            >
           <a *ngIf="authService.isAuthenticated" (click)="logout()"><fa-icon [icon]="faSignOutAlt" class="text-sm cursor-pointer"></fa-icon></a>

      </div>
  </nav>
</header>
