<header>
  <nav
    *ngIf="nav.visible"
    class="container flex flex-wrap justify-between max-w-full"
  >
    <div class="flex items-start">
      <a class="text-2xl font-medium text-white" [routerLink]="['/home']"
        >FindTheCatto</a
      >
    </div>
    <div
      class="flex items-end justify-end space-x-4"
      [ngClass]="{ show: isExpanded }"
    >
      <span *ngIf="authService.user" class="text-white"
        >[connected as: {{ authService.user?.username }} ]</span
      >
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/game']">Game</a>
    </div>
  </nav>
</header>
