<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="catto" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="/assets/catto.png">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-white text-3xl title-font font-medium mb-10">Find the Catto</h1>
        <p class="leading-relaxed text-gray-400">FindTheCatto is a game where all you have to do is find if there's a cat on the picture displayed or not. If you find a
        cat, you can click on the cat icon. If you don't, you can click on the barred cat icon. BUT if your answer is wrong, the
        game will end. Play as many time as you want and see how many points you can get.</p>
        <div class="flex mt-2 items-center pb-5 border-b-2 border-indigo-900 mb-6" ></div>
        <div class="flex">
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" (click)="play()">Play</button>
        </div>
      </div>
    </div>
  </div>
</section>